@media screen and (max-width: 768px) {

    /* Nav */
  .header-background {
    background-image: url(/image/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    margin: 20px 0 0 20px;
  }

  .header {
    color: #e63521;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(134, 130, 130);
    font-weight: 100%;
  }

  .nav-menu {
    display: none;
  }

/* Active hamburger */
  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    top: 70px;
    width: 100%;
    transition: 0.3s;
    list-style: none;
  }
}