#partners {
  display: none;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header {
  color: #e63521;
}

.first-title {
  display: block;
  background-color: rgb(51, 54, 54);
  padding-right: 10%;
}

.first-title a {
  text-decoration: none;
  color: white;
}

.first-title ul {
  margin: 0;
}

.second-title {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#home {
  background-image: url(../images/Partners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.festival-background {
  background-image: url(../images/speakers/Riyadh-Season-Firework.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-copy {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: black;
  color: white;
  padding: 30px 0 30px 0;
  align-items: center;
}

.para-copy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

@media screen and (max-width: 768px) {
  .logo,
  .first-title,
  .second-title,
  #home {
    display: none;
  }

  /* Nav */
  .header-background {
    background-image: url(../images/backgrounds/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .header {
    color: #e63521;
  }

  .flex {
    flex-direction: column;
  }

  .partners {
    display: flex;
    justify-content: space-between;
  }

  .partners p {
    padding-left: 4%;
  }

  #partners {
    display: block;
    background-color: #454a57;
  }

  .logo-img {
    width: 70px;
    height: 70px;
  }

  .flex-copy {
    background-color: white;
    color: black;
  }

  .para-copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
